:root {
    --btn-primary: #3E1191;
    --btn-primary-hover: #43129E;
    --btn-secondary: #f6e2c1;
}

* {
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dfe6e9;
}

.btn-primary {
    background-color: var(--btn-primary);
    border: none;
    padding: 1em 1em;
    border-radius: 0.5em;
    transition: .5s;
    color: #fff;
}

.btn-primary:hover {
    background-color: var(--btn-primary-hover);
    transition: .5s;
}

/* NAVBAR */

header {
    height: 5rem;
    background-color: #2B1464;
}

header a {
    text-decoration: none;
}

.bi-list {
    cursor: pointer;
}

.navbar-offcanvas {
    color: #fff;
    text-align: center;
    background-color: var(--btn-primary-hover) !important;
}

.navbar-offcanvas a,
.navbar-offcanvas span {
    text-decoration: none;
    color: white;
}

/* INDEX */

.main-banner {
    background-color: #805DF3;
}

/* LOGIN / REGISTER */

.formulario {
    margin-top: 5rem;
    border: none;
    border-radius: 12px;
}

.formulario div {
    padding: 1rem;
}

.formulario div label {
    margin-bottom: .5rem;
}

.formulario div input {
    outline: none;
    border: none;
}

.formulario button {
    min-width: 100%;
}

.formulario-link {
    font-size: .9rem;
}

/* DASHBOARD */

.dashboard-user {
    padding-top: 3rem;
}

.dashboard-stats {
    border: none;
    border-radius: 12px;
}

.dashboard-stats-title {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: rgb(62 17 145);
    border-radius: 12px 12px 0 0;
    color: white;
}

.dashboard-stats-info {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: rgb(237 237 237 / 0.7);
    border-radius: 0 0 12px 12px;
}

/* LISTAS */

.lista-informacoes button {
    background-color: #d63031;
}

.lista-informacoes button:hover {
    background-color: #ff7675;
}

/* MEDIA QUERIES */

@media (max-width: 990px) {
    .formulario {
        margin-top: 3rem;
    }

    .formulario div button {
        min-width: 100%;
    }
}